@import "tailwindcss";

body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-black text-white;
}
/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
